/**
    * CUSTOM STYLES FOR REACT SELECT
*/
.css-b62m3t-container {
    width: 100%;
    padding: 2px !important;
}

.css-1xc3v61-indicatorContainer {
    padding: 2px 5px !important;
}

.css-1u9des2-indicatorSeparator {
    display: none;
}
